<h1>Listing Canvases</h1>

<table id="canvases">
    <%= for canvas <- @canvases do %>
        <%= live_component OscarWeb.CanvasLive.IndexComponent, id: canvas.id, canvas: canvas %>
    <% end %>
</table>
